In [1]:
# ---------------------------------------------------------------------
# 집계함수 => 평균, 표준편차, 최대값, 최소값, 중앙값, 최빈값, 상관계수
# ---------------------------------------------------------------------

In [2]:
import pandas as pd

In [24]:
FILE='../datafiles/auto-mpg.csv'

In [25]:
# 데이터 => DF ----------------------------------------------------------
mpgDF=pd.read_csv(FILE,header=None)

In [26]:
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [27]:
# 컬럼 지정하기 => columns속성
mpgDF.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name']
mpgDF.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,76.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,77.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,230.0,3436.0,11.0,70,1,plymouth satellite

In [28]:
mpgDF.horsepower=mpgDF.horsepower.replace('?',0)

In [29]:
mpgDF.horsepower.unique()

array(['76.0', '77.0', '230.0', '46.0', '78.0', '152.0', '151.0', '153.0',
       '225.0', '190.0', '170.0', '160.0', '150.0', '95.00', '97.00',
       '85.00', '88.00', '46.00', '87.00', '90.00', '113.0', '215.0',
       '200.0', '210.0', '193.0', 0, '100.0', '105.0', '165.0', '175.0',
       '180.0', '110.0', '72.00', '86.00', '70.00', '76.00', '65.00',
       '69.00', '60.00', '80.00', '54.00', '208.0', '155.0', '130.0',
       '140.0', '112.0', '92.00', '145.0', '137.0', '198.0', '158.0',
       '167.0', '94.00', '107.0', '49.00', '75.00', '91.00', '122.0',
       '67.00', '83.00', '78.00', '52.00', '61.00', '93.00', '148.0',
       '129.0', '96.00', '71.00', '98.00', '115.0', '53.00', '81.00',
       '79.00', '120.0', '102.0', '108.0', '68.00', '58.00', '149.0',
       '89.00', '63.00', '48.00', '66.00', '139.0', '103.0', '125.0',
       '133.0', '138.0', '135.0', '142.0', '77.00', '62.00', '132.0',
       '84.00', '64.00', '74.00', '116.0', '82.00'], dtype=object)

In [30]:
mpgDF.horsepower=mpgDF.horsepower.astype('float64')
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [31]:
# 수치 데이터들의 집계함수 적용 ----------------------------------------------------------------------------
mpgDF.mean(numeric_only=True)

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       101.876884
weight          2970.424623
acceleration      15.568090
model_year        76.010050
origin             1.572864
dtype: float64

In [32]:
mpgDF.median(numeric_only=True) # 중앙값 : 작은 값...큰 값 정렬 후 가운데 값

mpg               23.0
cylinders          4.0
displacement     148.5
horsepower        91.5
weight          2803.5
acceleration      15.5
model_year        76.0
origin             1.0
dtype: float64

In [33]:
mpgDF.mode() #최빈값

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,13.0,4.0,97.0,90.0,1985.0,14.5,73.0,1.0,ford pinto
1,NaN,NaN,NaN,150.0,2130.0,NaN,NaN,NaN,NaN

In [34]:
mpgDF.max()

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                 230.0
weight                    5140.0
acceleration                24.8
model_year                    82
origin                         3
car_name        vw rabbit custom
dtype: object

In [35]:
mpgDF.min()

mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                          0.0
weight                           1613.0
acceleration                        8.0
model_year                           70
origin                                1
car_name        amc ambassador brougham
dtype: object

In [55]:
# 차 연비와 가장 연관 깊은게 어떤것인지 --------------------------------------
mpgDF.corr().abs().mpg.sort_values(ascending=False)   # mpg 부를때 [mpg]아니고 .mpg
# => weight 가장 높은 연관성, accel 가장 낮은 연관성

C:\Users\LG\AppData\Local\Temp\ipykernel_10324\2151494913.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  mpgDF.corr().abs().mpg.sort_values(ascending=False)   # mpg 부를때 [mpg]아니고 .mpg

mpg             1.000000
weight          0.831741
displacement    0.804203
cylinders       0.775396
horsepower      0.736917
model_year      0.579267
origin          0.563450
acceleration    0.420289
Name: mpg, dtype: float64

In [66]:
# DataFrame의 수치데이터에 대한 기술 통계값 : describe
mpgDF.describe().iloc[[1,2,3,7]]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
mean,23.514573,5.454774,193.425879,101.876884,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,39.718372,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000,1.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [77]:
# 보기 불편해서 행과 열 바꾸고싶다 => 전치 : DF.transpose, DF.T  두번하면 원래대로
mpgDF.describe().loc[['mean','std','min','max']].transpose()

                     mean         std     min     max
mpg             23.514573    7.815984     9.0    46.6
cylinders        5.454774    1.701004     3.0     8.0
displacement   193.425879  104.269838    68.0   455.0
horsepower     101.876884   39.718372     0.0   230.0
weight        2970.424623  846.841774  1613.0  5140.0
acceleration    15.568090    2.757689     8.0    24.8
model_year      76.010050    3.697627    70.0    82.0
origin           1.572864    0.802055     1.0     3.0

In [78]:
mpgDF.describe().loc[['mean','std','min','max']].transpose().T

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
mean,23.514573,5.454774,193.425879,101.876884,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,39.718372,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000,1.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [80]:
# ------------------------------------------------------------------------------------------
# 비교연산자 연산
# 결과 True, False
# ------------------------------------------------------------------------------------------

In [87]:
# mpg 컬럼의 데이터가 25보다 큰 데이터만 출력
mpgDF.mpg[mpgDF.mpg>25] # 인덱스로 넣으면 True인것만 출력됨
# Boolean 인덱싱 : True, False 로 구성된 인덱스

18     27.0
19     26.0
23     26.0
29     27.0
30     28.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 158, dtype: float64

In [89]:
mpgDF.mpg[mpgDF.mpg>mpgDF.mpg.mean()]

14     0.060302
18     0.067839
19     0.065327
20     0.062814
21     0.060302
         ...
393    0.067839
394    0.110553
395    0.080402
396    0.070352
397    0.077889
Name: mpg, Length: 189, dtype: float64

In [97]:
mpgDF[mpgDF.mpg>mpgDF.mpg.mean()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
14,24.0,4,113.0,95.0,2372.0,15.0,70,3,toyota corona mark ii
18,27.0,4,97.0,88.0,2130.0,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.0,1835.0,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672.0,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.0,2430.0,14.5,70,2,audi 100 ls
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [93]:
(mpgDF.mpg>mpgDF.mpg.mean()).sum()/len(mpgDF.mpg)

0.4748743718592965

In [92]:
189/398

0.4748743718592965