In [ ]:
# --------------------------------------------------------------------------------
# 데이터 분석 => 기초 통계함수들, 고유값, 결측치
# --------------------------------------------------------------------------------

In [4]:
import pandas as pd
FILE=r'D:\EXAM_python\datafiles\auto-mpg.csv'

In [20]:
# 데이터 정보 확인 함수
def printDataInfo(df):
    df.info()
    print(df.head(3),df.tail(3),sep='\n',end='\n\n')
    print(df.describe(include='all'),end='\n\n')
    print(f'Index => {df.index}\nColumns => {df.columns}',end='\n\n')

In [11]:
# (1) FILE => DataFrame 읽기
mpgDF=pd.read_csv(FILE,header=None)

In [21]:
# (2) 데이터 확인
printDataInfo(mpgDF)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
    mpg  cylinders  displacement horsepower  weight  acceleration  model_year  \
0  18.0          8         307.0       76.0  3504.0          12.0          70
1  15.0          8         350.0       77.0  3693.0          11.5          70
2  18.0          8         318.0      230.0  3436.0          11.0          70

   origin                   car_name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
      mpg  cylinders  displacement horsepower  weight  acceleration  \
395  32.0          4         135.0      84.00  2295.0          11.6
396  28.0          4         120.0      79.00  2625.0          18.6
397  31.0          4         119.0      82.00  2720.0          19.4

     model_year  origin       car_name
395          82       1  dodge rampage
396          82       1    ford ranger
397          82       1     chevy s-10

               mpg   cylinders  displacement horsepower       weight  \
count   398.000000  398.000000    398.000000        398   398.000000
unique         NaN         NaN           NaN         98          NaN
top            NaN         NaN           NaN      90.00          NaN
freq           NaN         NaN           NaN         20          NaN
mean     23.514573    5.454774    193.425879        NaN  2970.424623
std       7.815984    1.701004    104.269838        NaN   846.841774
min       9.000000    3.000000     68.000000        NaN  1613.000000
25%      17.500000    4.000000    104.250000        NaN  2223.750000
50%      23.000000    4.000000    148.500000        NaN  2803.500000
75%      29.000000    8.000000    262.000000        NaN  3608.000000
max      46.600000    8.000000    455.000000        NaN  5140.000000

        acceleration  model_year      origin    car_name
count     398.000000  398.000000  398.000000         398
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.568090   76.010050    1.572864         NaN
std         2.757689    3.697627    0.802055         NaN
min         8.000000   70.000000    1.000000         NaN
25%        13.825000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
75%        17.175000   79.000000    2.000000         NaN
max        24.800000   82.000000    3.000000         NaN

Index => RangeIndex(start=0, stop=398, step=1)
Columns => Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'car_name'],
      dtype='object')

In [23]:
# (3) 컬럼명 추가
mpgDF.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name']
mpgDF.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,76.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,77.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,230.0,3436.0,11.0,70,1,plymouth satellite

In [42]:
# (4) 실제 데이터와 타입 맞지 않는 데이터 처리
print(f'horsepower dtype => {mpgDF.horsepower.dtype}')
# horsepower : 실수값으로 변환
# mpgDF.horsepower.astype('float64')
# horsepower 값 가운데 '?'있어서 오류 발생 => 다른걸로 대체 해줘야됨
# ValueError: could not convert string to float: '?'

# (4-1) 해당 컬럼의 데이터 종류 확인 => 고유값 unique()
print(f'horsepower unique => {mpgDF.horsepower.unique()}')
# (4-2) 해당 컬럼의 데이터 종류별 갯수 확인
print(f'horsepower value counts =>',mpgDF.horsepower.value_counts()['?'])

horsepower dtype => object
horsepower unique => ['76.0' '77.0' '230.0' '46.0' '78.0' '152.0' '151.0' '153.0' '225.0'
 '190.0' '170.0' '160.0' '150.0' '95.00' '97.00' '85.00' '88.00' '46.00'
 '87.00' '90.00' '113.0' '215.0' '200.0' '210.0' '193.0' '?' '100.0'
 '105.0' '165.0' '175.0' '180.0' '110.0' '72.00' '86.00' '70.00' '76.00'
 '65.00' '69.00' '60.00' '80.00' '54.00' '208.0' '155.0' '130.0' '140.0'
 '112.0' '92.00' '145.0' '137.0' '198.0' '158.0' '167.0' '94.00' '107.0'
 '49.00' '75.00' '91.00' '122.0' '67.00' '83.00' '78.00' '52.00' '61.00'
 '93.00' '148.0' '129.0' '96.00' '71.00' '98.00' '115.0' '53.00' '81.00'
 '79.00' '120.0' '102.0' '108.0' '68.00' '58.00' '149.0' '89.00' '63.00'
 '48.00' '66.00' '139.0' '103.0' '125.0' '133.0' '138.0' '135.0' '142.0'
 '77.00' '62.00' '132.0' '84.00' '64.00' '74.00' '116.0' '82.00']
horsepower value counts => 6